<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/game.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <nav class="upBar">
        <ul>
            <li>
                <a href="/score">View the leaderboard</a>
            </li>
            <li> 
            <i class="fas fa-microphone-slash" style="background-color:orange; color: whitesmoke;" id="mute"></i>
            </li>
            
        </ul>
    </nav>
    <h2 class="quizHeader">
        <img src="images/quizLogo.jpg" id="logo" /> Take our Quiz!</h2>

    <form id="form" action="/add" method="POST">
        <br>
        Give yourself a
        <em>quiztag</em> and hit enter:
        <input id="tag" maxlength="8" type="text" name="fname">
        <br>
        <div id=box>
            <h1 class="upbar">Think you can get a perfect ten?</h1>
            <div class="quiz-container">
                <div id="quiz"></div>
            </div>
        </div>
        <input readonly id="result" type="number" name="score" style="display: none"></input>
    </form>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>

    <div id="score"></div>

    <button id="submit">Submit Quiz</button>
    
    <audio autoplay loop id="audio">
    </audio>

</body>