<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/game.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <button id="mute">
        <i class="fas fa-microphone-slash" style="background-color:orange; color: whitesmoke;  "></i>
    </button>
    <span style="font-size: 8px"> click to pause track or double click to resume</span>
    <h2 class="quizHeader">Take a Quiz!</h2>


    <form id="form" action="/add" method="POST">
    Enter your desired username: <input id="tag" type="text" name="fname"> 
    <input id="subTag" type="submit" value="Ready!!" style="display: block;" onclick="capped()">
    <div id=box>
    <h1>Quiz on Important Facts</h1>
    <div class="quiz-container">
        <div id="quiz"></div>
    </div>
    </div>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>
</form>


    <audio autoplay loop id="audio">
    </audio>

</body>