
body{
	font-size: 20px;
	font-family: 'Work Sans';
	color: #333;
  font-weight: 300; 
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans';
	font-size: 22px;
	background: linear-gradient(0.25turn, #FF530D, #FF0000, #E82C0C);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
  padding: 5px;
}
.quiz-container{
  position: relative;
  text-transform: uppercase;
  height: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 5px;

}
#box{
    padding: 30px;
}
#subTag{
    margin-left: 54.7%;
}
table{
    width: 200px;
    margin-left: 40%; 
    border: #444 solid 3px;
  }
  
  td{
    text-align: left;
    padding: 8px;
    color: antiquewhite;
  } 
  
  
  th {
    
      text-align: left;
      padding: 8px;
      background-color: rgba(245, 237, 237, 0.637);
      color: antiquewhite
  }
  tr{
    background: linear-gradient(0.25turn, #FF530D, #FF0000, #E82C0C);
  }

  .upBar{
    position: relative;
    background: linear-gradient(0.25turn, #FF530D, #FF0000, #E82C0C);
    text-align: center;
    text-transform:uppercase;
    padding: 5px;
    color: beige;
    font-size: 20px;
    text-decoration: none;
    list-style-type:none;
    font-family: Arial;
     width: 100%;
  
  
  
  }
  li{
  display: inline ;
  margin-right: 50px;
  font-family: Arial;
  }
  #logo{
  
  width: 10%;
  height: 10%;
  margin-top: 2%;
  }
  .mute{
  
  border: none;
  cursor:pointer;
  
  }

  form{
  border: outset #FF0000 ; 
  
  }
  a{
      color: antiquewhite;
  }
  a:hover {
    color: blue;
}
